page-home {
    .scroll-content{
        padding: 0px 10% 20px 10% !important; 
    }
    .title {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }
    .url-input {
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        padding-left: 6px;
        margin: 10px 0;
    }
    .goppx {
        font-size: 14px;
        color: rgb(0, 140, 255);
        text-decoration: underline;
        text-align: center;
    }
    .decode {
        width: 100%;
        display: block;
        margin: 10px auto;
        background-color: orange;
        border-radius: 5px;
        font-size: 16px;
        height: 40px;
    }
    .play {
        width: 100%;
        display: block;
        margin: 10px auto;
        background-color: rgb(7, 224, 7);
        border-radius: 5px;
        font-size: 16px;
        height: 40px;
    }
}